<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/table">Table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/navigation-bar">Navigation bar</a>
    </li>
</ul>